.style{
    display:flex;
}
.dateform{
    width: 30%;
    
    
}
.expertin {
    /* font-family: 'Arial', sans-serif;  */
    font-size: 18px; /* Adjust the font size as needed */
    font-weight: bold; /* Adjust the font weight if desired */
    color: #333; /* Choose a text color */
    text-align: center; /* Center the text horizontally */
    text-transform: uppercase; /* Convert text to uppercase */
    letter-spacing: 2px; /* Add letter spacing for emphasis */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow */
    background-color: #f4f4f4; /* Add a background color */
    padding: 10px; /* Add padding around the text */
    border-radius: 5px; /* Round the corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a box shadow */
    margin-right: 50px;
    transition: all 0.3s ease;
    
  }
  .expertin:hover {
    transform: scale(1.03); /* Scale the element on hover */

    color: #0c0335; /* Change the text color on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a larger box shadow on hover */
  }
  .textclass{
    text-transform: uppercase; 
    letter-spacing: 2px; /* Add letter spacing for emphasis */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow */

  }
  .heading1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 28px; /* Adjust the font size as needed */
    font-weight:bolder;
    color: #333; /* Choose a text color */
    margin-top: 0%; /* Add some spacing below the heading */
     /* Center the text horizontally */
  }