.getstartedbtn{
    
    text-transform: 'none';
    font-size: 16;
    padding: '6px 12px';
    border: '1px solid';
    line-height: 1.5;
    background-color: '#0063cc';
    border-color: '#0063cc';
    background-color:"purple";
    padding:"20px";
    margin-left:"40px";
    margin-top:"20px";

}

.landing{
    background-image: url("https://images.unsplash.com/photo-1620331309205-b5a4669ac526?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
    margin-top: 64px;
    height: 89vh;
    background-size: cover; /* Ensures the entire image is covered within the container */
    background-position: center;
}

.getstarted{
    text-decoration: none;
    color: white;
}