.getstartedbtn{
    
    text-transform: 'none';
    font-size: 16;
    padding: '6px 12px';
    border: '1px solid';
    line-height: 1.5;
    background-color: '#0063cc';
    border-color: '#0063cc';
    background-color:"purple";
    padding:"20px";
    margin-left:"40px";
    margin-top:"20px";

}

/* .landing{
    background-image: url("https://images.unsplash.com/photo-1605497788044-5a32c7078486?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80");
    object-fit:cover;
    background-repeat: repeat;
    height: 900px;
} */

.getstarted{
    text-decoration: none;
    color: white;
}