.maindiv{
    
    background-image: url("https://images.unsplash.com/photo-1531824475211-72594993ce2a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
    height:100vh;
}
/* .fppaper {

    background-color:rgba(221, 193, 193, 0.3);
    padding: 10px;
    
   
    
} */
.form-main-div{
    margin: 40px;

}
.head{
    margin-left: 25%;
    margin-bottom: 5%;
    padding-top: 2%;
}
.title{
    font-weight: 600;
}
.inp{
    border-color: black;
}
.btndiv{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}