.loginbtnrow{
    display: flex;
    justify-content: center;

  
}
.login-landing{
    background-image: url("https://images.unsplash.com/photo-1555679427-1f6dfcce943b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1935&q=80");
    margin-top: 64px;
    height: 90vh;
    background-size: cover; /* Ensures the entire image is covered within the container */
    background-position: center;
    padding: 20px;

}
.loginbeaut-landing{
    background-image: url("https://images.unsplash.com/photo-1579546928686-286c9fbde1ec?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1878&q=80");
    margin-top: 64px;
    height: 90vh;
    background-size: cover; /* Ensures the entire image is covered within the container */
    background-position: center;
   

}
.logincust-landing{
    background-image: url("https://images.unsplash.com/photo-1579546928686-286c9fbde1ec?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1878&q=80");
    margin-top: 64px;
    height: 90vh;
    background-size: cover; /* Ensures the entire image is covered within the container */
    background-position: center;

}
