/* .dashboard {
    background-color: whitesmoke;
    width: 200px;
    height: 530px;
    padding-top: 3vh;

}
.dashboard li{
    font-weight: 500;
    list-style-type: none;
    cursor: pointer;
    padding-top: 30px;
    
} */
.ulclass{
    font-weight: 500;
    list-style-type: none;
    cursor: pointer;
    padding-top: 30px;

}
.selectimage{
    margin-top: 20px;
}
.beautouter{
    background-image: url("https://images.pexels.com/photos/2096622/pexels-photo-2096622.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    height: 100%;
}

