.schedule-outer{
    
    width:79vw;
    height:100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.schedule-box{
    border: 1px solid black;
    
    width:40vw;
    height:70vh;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    transition: box-shadow 0.3s ease;
    background-color:"transparent";
    color: #D0D4D9;
    border-radius: 7px;



}

.schedule-box:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Changes shadow on hover for interactive effect */
    background-color: #1D364D;
}

.schedule-box .top{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    font-size:14px;
    font-weight: 600;
}

.schedule-box .top .headingg{
    display: flex;
    justify-content: end;
    font-size: 25px;
    font-weight: 700;
    
}
.schedule-box .top .datee{
    display: flex;
    justify-content: end;

}
.no-schedule{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: 600;
    height: 30vh
}
