.header{
    width: 100%;
    height: 10vh;
    background-color: #0c0335;
    
}

body {
    background-color: #f0f0f0;
}

.navbar-dark .navbar-brand {
    color: #ffffff; /* Brand color */
}
.navbar-dark .navbar-nav .nav-link {
    color: #ffffff; /* Link color */
}

.navbtn{
    background-color: #3bdd94;
}
.navbtn:hover{
    background-color: rgb(6, 25, 25);
    color: whitesmoke;

}
.profileimage{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;  
    

}

