.heading{
    font-size: 40px;
    margin-left: 10vw;
    margin-top: 50px;

}


.stackdiv{
    font-size: 30px;
    margin-left: 40px;

}
.titles{
    font-size: 19px;
    font-weight: 600;
    margin-top: 1%;

}
            
.values{
    font-size: 20px;
    margin-left: 2%;
    margin-top: 1%;
    

}
